<h2>Add New Person</h2>

<dl class="dl-horizontal">
    <dt>Name : </dt>
    <dd>
        <input type="text" id="txtName" class="form-control" placeholder="Name..." />
    </dd>
    <dt>Family : </dt>
    <dd>
        <input type="text" id="txtFamily" class="form-control" placeholder="Family..." />
    </dd>
    <dt>Age : </dt>
    <dd>
        <input type="number" id="txtAge" class="form-control" placeholder="Age..." />
    </dd>

    <dd>
        <input type="button" class="btn btn-success" value="Save" id="btnSave" />
    </dd>
</dl>



<script>
    $("#btnSave").click(function () {
        
        var person = {
            Name: $("#txtName").val(),
            Family: $("#txtFamily").val(),
            Age: $("#txtAge").val()
        }

        $.ajax({
            url: "/Api/People",
            type: "Post",
            data: person
        }).done(function () {
            $("#view").load("/Home/List");
        });
    });
</script>
